#video
{
    width:100%;
    height: 500px;
    border:none;
}
.travel_mainDiv
{
    border:1px solid lightgray;
}
.travel_mainDiv img
{
    width: 100%;
}
.travel_mainDiv h5 , .travel_mainDiv p
{
    margin:20px;
}
.moviehead
{
    font-size: 20px;
    padding:6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.moviehead i
{
    float:right;
}
.achivement_text span{
    color:orange;
}